
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-red-maroon: #ba0018;
  --font-family-primary: "Montserrat", sans-serif;
  }


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: var(--font-family-primary);
}  

.nav-bar {
  @apply flex items-center justify-between w-full fixed top-0 z-10 h-[5.4rem] p-[3.2rem];
}

.nav-bar-links {
  @apply text-2xl font-semibold text-[#181b21] mx-[0.8rem] py-[0.4rem] px-[0.6rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:text-white transition-all duration-300;
}

.tesla-logo {
  @apply h-6;
}

.car_section {
  @apply w-full h-screen relative;
}

.car_img {
  @apply w-full h-full object-cover;
}

.car_details {
  @apply absolute top-[20%] left-[50%] text-center;
}

.transform_50 {
  transform: translate(-50%, -50%);
}

.model_name {
  @apply text-[4rem] text-[#393c41] font-semibold
}

.tag_line {
  @apply text-[#4c4d51] text-2xl;
}

.tag_line span {
  @apply underline cursor-pointer;
}

.car_buttons {
  @apply absolute top-[85%] left-[50%] flex flex-col lg:flex-row;
}

.btn {
  @apply text-2xl text-white bg-[#171a20] font-medium uppercase my-2 py-[0.4rem] px-[2.4rem] rounded-[3.2rem] h-16;
}

.inventory {
  @apply text-[#393c41] bg-white lg:ml-8;
}

.down-btn {
  @apply block w-full h-20 mx-auto absolute top-[93%] animate-bounce;
}