@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.flag-icon {
  @apply absolute transform -translate-x-1/2 -translate-y-1/2 transition-all duration-300 hover:scale-110;
}

.flag-icon-item {
  @apply w-[24px!important] h-[24px!important] object-cover;
} /**Used important to override tailwind css **/

.map-image {
  @apply object-contain;
}

.page-heading {
  @apply text-3xl font-bold text-gray-900 mb-8 text-center;
}
